body {
  margin: 0;
  font-family: Arial;
}

section {
  padding: 80px;
  text-align: center;
}

.hero {
  height: 100vh;
  background: #0f172a;
  color: white;
}

html {
  scroll-behavior: smooth;
}

